.main{
  color:white;
  margin:auto;
  margin-top:3%;
  margin-bottom:5%;
  text-align:center;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 25px;
  width: 60%;
  font-family: Georgia;
  text-shadow: 2px 2px grey;
  box-shadow: 3px 3px grey;
}
.button{
  width: 67px; 
  heigth: 67px;
  box-shadow: 2px 2px black;
  position: relative;
}
input{
  width: 90%;
  margin-top: 7px;
  margin-left:5%;
}